@page "/bigscreens"
@using BicycleRaceSoftware.Shared
@using BicycleRaceSoftware.Client.Services
@using System.Timers
@inject NavigationManager Navigation
@inject IRacerService RacerService
@inject ScreenManagerService ScreenManagerService

<PageTitle>BigScreens</PageTitle>

<div class="accordion" id="accordionExample">

    @foreach(var bigScreen in ScreenManagerService.BigScreens)
    {
        <div class="accordion-top-header">
            <span class="small-item">Bib</span>
            <span class="med-item">Name</span>
            <span class="small-item">Sens.</span>
            <span class="med-item">Time</span>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id=@GetHeadingID(bigScreen)>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=@GetIDWithHash(bigScreen) aria-expanded="true" aria-controls="collapseOne">
                    @bigScreen.Label
                </button>
            </h2>
            <div id="@bigScreen.Label" class="accordion-collapse collapse show" aria-labelledby=@GetHeadingID(bigScreen) data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="list-group-container">
                        <ul class="list-group">
                            @foreach (var racer in bigScreen.Subjects)
                            {
                                var status = RacerService.RacerStatuses[racer.Bib];
                                var sensorID = status != null ? status.SensorId : 0;
                                var time = status != null ? GetReadableTimeFromMs(status.Timestamp) : "0";
                                <li class="list-group-item racer-item">
                                    <span class="small-item">@racer.Bib</span>
                                    <span class="med-item">@racer.Name</span>
                                    <span class="small-item">@sensorID</span>
                                    <span class="small-item">@time</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    }
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var timer = new System.Timers.Timer(TimeSpan.FromMilliseconds(10));
            timer.AutoReset = true;
            timer.Elapsed += new System.Timers.ElapsedEventHandler(TimerMethod);
            timer.Start();
        }
    }

    private string GetReadableTimeFromMs(int ms)
    {
        TimeSpan t = TimeSpan.FromMilliseconds(ms);
        return string.Format("{0:D2}h:{1:D2}m:{2:D2}s:{3:D3}ms",
                                t.Hours,
                                t.Minutes,
                                t.Seconds,
                                t.Milliseconds);
    }

    private int _idCounter = 0;

    public void TimerMethod(object sender, ElapsedEventArgs e)
    {
        StateHasChanged();
    }

    public string GetIDWithHash(BigScreen bs)
    {
        return "#" + RemoveWhitespace(bs.Label);
    }

    public string GetHeadingID(BigScreen bs)
    {
        return "heading" + RemoveWhitespace(bs.Label);
    }

    public string RemoveWhitespace(string input)
    {
        return new string(input.ToCharArray()
            .Where(c => !Char.IsWhiteSpace(c))
            .ToArray());
    }


}

<style>

    .accordion-item{
        margin-bottom: 40px;
    }

    .accordion-top-header {
        margin-left: 40px;
    }
        .accordion-top-header span{
        display: flex-inline;
        justify-self: flex-start;
        font-weight: bold;
    }
    .list-group-container {
        max-height: 600px;
        overflow-y: scroll;
    }

    .small-item {
        width: 40px;
        display: inline-flex;
    }

    .med-small-item {
        width: 80px;
        display: inline-flex;
    }

    .med-item {
        width: 210px;
        display: inline-flex;
    }
</style>
